<!--The content below is only a placeholder and can be replaced.-->
<div class="d-flex flex-column w-100">
    <div class="d-flex flex-column w-100">
        <nav class="navbar navbar-dark bg-primary">
            <span class="navbar-brand mb-0 h1">{{title}}</span>
        </nav>
    </div>
    <div class="container-fluid mt-2 ">
        <div class="jumbotron">
            <h1>OpenCV - Sample</h1>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">Original Image</div>
                    <div class="card-block text-center">
                        <img #originalImage src="images/FFFFFF.jpeg" alt="Upload" class="card-img-top" (load)="doRestore()"/>
                    </div>
                    <div class="card-footer text-muted">
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="imageInput"
                                       aria-describedby="inputGroupFileAddon01" name="file" (change)="readFile($event)">
                                <label class="custom-file-label" for="imageInput">{{fileName}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">Modified Image</div>
                    <div class="card-block">
                        <canvas id="imageCanvas"></canvas>
                    </div>
                    <div class="card-footer">
                        <button type="button" id="id1" class="btn btn-primary mr-2" (click)="doContour()">Contour</button>
                        <button type="button" id="id2" class="btn btn-primary mr-2" (click)="doChangeColor()">Color</button>
                        <button type="button" id="id4" class="btn btn-primary mr-2" (click)="doCanny()">Canny</button>

                        <button type="button" id="id4" class="btn btn-primary mr-2" (click)="doRestore()">Restore</button>
                        <button type="button" id="id4" class="btn btn-primary mr-2" (click)="doSave()">Download</button>
                        <button type="button" id="id4" class="btn btn-primary mr-2" (click)="doPreview()">Preview</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>